.mainContainer input{
    border: 1px solid;
    border-radius: 8px;
    padding-left: 10px;
    height: 40px;
    outline: none;
    margin-bottom: 10px
}

button{
    cursor: pointer
}

#phoneNumber::-webkit-inner-spin-button,
#phoneNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#phoneNumber {
    -moz-appearance: textfield;
}

.activeButton{
    background: #39ADFF;
    color: white;
}

.passContainer {
    overflow: scroll; /* Enables scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .passContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  