.mainContainer input{
    border: 1px solid;
    border-radius: 8px;
    padding-left: 10px;
    height: 40px;
    outline: none;
    margin-bottom: 10px
}

button{
    cursor: pointer
}

#phoneNumber::-webkit-inner-spin-button,
#phoneNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#phoneNumber {
    -moz-appearance: textfield;
}

.activeButton{
    background: #39ADFF;
    color: white;
}

.passContainer {
    overflow: scroll; /* Enables scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .passContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  

  progress {
    -webkit-appearance: none;
    appearance: none;
    outline: #39ADFF;
    border-radius: 10px;
  }
  
  /* For Chrome, Safari */
  progress::-webkit-progress-bar {
    background-color: wheat;
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background-color: #39ADFF;
    border-radius: 10px;
  }
  
  /* For Firefox */
  progress::-moz-progress-bar {
    background-color: #39ADFF;
    border-radius: 10px;
  }

  /* 425px */
  @media screen and (max-width: 425px) {
    *{
      font-size: 12px;
    }
    h1{
      font-size: 19px;
      margin-bottom: 30px;
      text-align: center;
    }

    /* Password Generator */
    .mainContainer{
      width: 50%;
    }
    .popupDialogue{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    .userInputFields{
      width: 85%;
    }
    .passwordStrength{
      display: none;
    }
    .buttonField{
      width: 85%;
    }

    /* Password Manager */
    .managerContainer{
      width: 50%;
      height: 80%;
    }
    .filtersContainer{
      width: 80%;
      flex-direction: column;
    }
    .clearFilter{
      width: 40%;
      float: right;
    }
    .searchField{
      height: 10px;
      padding: 15px;
      width: 14.5em;
      position: absolute;
      z-index: 1;
    }
    .searchButton{
      position: relative;
      z-index: 10;
      padding: 0;
      left: 12em;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      color: #39ADFF;
      overflow: hidden;
    }
    .searchIcon{
      color: #fff;
    }
    .passContainer{
      background: #39ADFF;
      box-shadow: none;
      padding: 0;
    }
    .individualContainer{
      width: 100%;
      margin-bottom: 20px;
      height: 50px;
    }
    .iconContainer{
      padding: 0;
      padding-left: 10px;
      width: 25%;
    }
    .iconImages{
      border-radius: 50%;
    }
    .savedPassDetails{
      width: 50%; 
    }
    .passwordText{
      position: absolute;
    }
    .copyButton{
      position: relative;
      left: 44px;
      bottom: 3px;  
    }
    .viewPasswordButton{
      position: relative;
      left: 42px;
      bottom: 2px;
    }
    .saveCopyShowButtons{
     width: 20%;
     margin-left: 10%;
    }
    .holderContainer{
      height: 80%;
      margin: auto;
    }
    .mainContainer{
      height: 80%;
    }
  }